<div class="container">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-4 mb-4">Welcome to Ordering System Made Easy</h1>
      <p class="lead mb-5">Simplify your ordering process with our user-friendly system.</p>
      <%= link_to "Get Started", products_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>