<div class="container mt-4">
  <h1>Edit Product</h1>

  <%= render 'form', product: @product %>

  <div class="mt-3">
    <%= link_to 'Show', @product, class: 'btn btn-info' %>
    <%= link_to 'Back to Products', products_path, class: 'btn btn-secondary' %>
  </div>
</div>
